<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
    }

    /* Email Header */
    .header {
      background-color: #007bff84;
      color: #fff;
      text-align: center;
      padding: 20px;
      margin: 0;
    }

    .logo {
      width: 50%;
      height: auto;
      max-width: 100%;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    /* Email Content */
    .content {
      font-family: sans-serif;
      background-color: #fff;
      padding: 15px;
      text-align: left;
      font-size: 16px;
      line-height: 24px;
      color: #334155;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    }

    /* Materials Table */
    .materials-table {
      width: 100%;
      border-collapse: collapse;
      background-color: #fff;
      margin-top: 10px;
    }

    .materials-table th,
    .materials-table td {
      padding: 8px;
      text-align: left;
      border: none;
      border-bottom: 1px solid #ddd;
    }

    .materials-table th {
      background-color: #007BFF;
      color: #fff;
    }

    .materials-table tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  </style>
</head>
<body>
  <!-- Email Header -->
      <table style="display: flex; width: 100vw;">
      <tbody  style="display: flex; width: 100vw;">
         <tr class="containerRow" style="width: 100%; height: 100%; justify-items: center; align-items: center; justify-content: center; display: flex; flex-direction: column;" bgcolor="red">
        <td class="tableHeader" style="font-family: sans-serif; vertical-align: top; width: 100%; color: #2b29296e; height: 60px; font-size: 18px; display: flex; flex-direction: row; justify-content: center; text-align: center; position: relative; padding-right: 10px; padding-left: 10px; padding-top: 20px; padding-bottom: 20px;" width="100%" height="60" bgcolor="#e87e3cf5" align="center" valign="top">
            <span class="headerText" style="font-weight: 700; position: absolute; display: flex; flex-direction: row; justify-content: left; margin-left: 5px; align-items: center;align-content: center; left: 0%; height: 100%; width: 50%;">{{header}}</span>
            <span id="logoDive" style="width: 50%; height: 100%; position: absolute; background-size: contain; background-position: center; background-repeat: no-repeat; background-size: contain; background-image: url({{logo}}); right: 0%;"></span>
        </td>
      </tr>
      </tbody>
    </table>
  <!-- Email Content -->
  {{#each data}}
  <div class="content">
    <h3>RFQ Materials Details</h3>
    <table class="materials-table">
      <thead>
        <tr>
          <th>Details</th>
          <th>Values</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><strong>Title:</strong></td>
          <td>{{title}}</td>
        </tr>
        <tr>
          <td><strong>LPO:</strong></td>
          <td>{{#if lpo}}{{lpo}}{{else}}null{{/if}}</td>
        </tr>
        {{!-- <tr>
          <td><strong>Payment Term:</strong></td>
          <td>{{paymentTerm}}</td>
        </tr> --}}
        {{!-- <tr>
          <td><strong>Quote Deadline:</strong></td>
          <td>{{quoteDeadline}}</td>
        </tr> --}}
        <tr>
          <td><strong>Delivery Date:</strong></td>
          <td>{{deliveryDate}}</td>
        </tr>
        <tr>
          <td><strong>Delivery Address:</strong></td>
          <td>{{deliveryAddress}}</td>
        </tr>
        <tr>
          <td><strong>Delivery Instructions:</strong></td>
          <td>{{deliveryInstructions}}</td>
        </tr>
        <tr>
          <td><strong>Category:</strong></td>
          <td>{{category}}</td>
        </tr>
        <tr>
          <td><strong>Budget Visibility:</strong></td>
          <td>{{budgetVisibility}}</td>
        </tr>
        <tr>
          <td><strong>Request Type:</strong></td>
          <td>{{requestType}}</td>
        </tr>
      </tbody>
    </table>
    <h2>Materials</h2>
    <table class="materials-table">
      <thead>
        <tr>
          <th>ITEM NAME</th>
          <th>Description</th>
          <th>Metric</th>
          <th>Quantity</th>
          <th>Budget</th>
        </tr>
      </thead>
      <tbody>
        {{#each materials}}
        <tr>
          <td>{{itemName}}</td>
          <td>{{description}}</td>
          <td>{{metric}}</td>
          <td>{{quantity}}</td>
          <td>{{budget}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{/each}}

  <!-- Bid Now Link -->
  <div class="content">
    <a href="{{link}}" target="_blank" rel="noopener noreferrer">
      <h3>click here to Bid Now </h3>
    </a>
    <hr style="border-bottom: 1px solid #f6f6f6; margin: 20px 0; height: 1px; background-color: #e2e8f0;">
    <p>Thanks,<br>{{appName}} Team</p>
  </div>

  <!-- Footer -->
  <div class="content" style="text-align: center;">
    <p>Sent to you from tech@cutstruct.com</p>
  </div>
</body>
</html>
